html {
  font-family: sans-serif;
  background: #eee;
}

h1 {
  font-family: sans-serif;
  color: #377ba8;
  margin: 1rem 0;
}

h2 {
  padding: 35px;
  margin-left: 120px;
}

h4 {
  padding: 35px;
  margin-left: 145px;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

table {
  max-width: 1000px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 50px;
}

input.danger {
  color: #cc2f2e;
}

video {
  margin: 20px auto;
  border: solid 1 px;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.nav-item {
  color: #377ba8;
  padding: 5px;
}

.label {
  max-width: 200px;
}

.row {
  padding: 5px;
}

.details-actor {
  padding: 0px 155px 5px;
}

.details-movie {
  padding-left: 155px;
}

.list-group-item {
  padding-left: 170px;
}

.actor {
  padding-left: 30px;
}

.card-header {
  padding-left: 155px;
  margin-left: 0px;
}
