{% extends 'base.html' %} {% block content %}
<div class="card mb-3">
  <h2 class="card-header header-padded">Add Movie</h2>

  <form method="post" enctype="multipart/form-data">
    <div class="container card-body">
      <div class="row">
        <div class="col col-6 label">{{ movie_form.movie_title.label }}</div>
        <div class="col col-6">{{ movie_form.movie_title(class_="form-control",size=50) }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.year.label }}</div>
        <div class="col col-6">{{ movie_form.year(class_="form-control",size=50) }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.director.label }}</div>
        <div class="col col-6">{{ movie_form.director(class_="form-control",size=50) }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.movie_type.label }}</div>
        <div class="col col-6">{{ movie_form.movie_type(class_="form-control") }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.publish.label }}</div>
        <div class="col col-6">{{ movie_form.publish }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.featured.label }}</div>
        <div class="col col-6">{{ movie_form.featured }}</div>
      </div>
      <div class="row">
        <div class="col col-6 label">{{ movie_form.file.label }}</div>
        <div class="col col-6">{{ movie_form.file(class_="form-control",size=50) }}</div>
      </div>
      <div class="row">
        <div class="col-6 label"></div>
        <div class="col-6">
          <input type="submit" class="btn btn-primary" value="Add Movie" />
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
