{% extends 'base.html' %}

{% block content %}
<h2>Edit View</h2>

<form method="post" action="{{ url_for('movies.edit_view',id = details_movies[0], actors = details_actors) }}">

  {{ form.hidden_tag() }}
  {{ form.movie_title.label }} {{ form.movie_title(size=20, value=details_movies[1]) }}
  {{ form.year.label }} {{ form.year(size=20, value=details_movies[2]) }}
  {{ form.director.label }} {{ form.director(size=20, value=details_movies[3]) }}


  {% for actorform in form.actorsfields.entries %}
  <p>Actor{{actorform.id}}</p>
  {{ actorform.actor_id(value=details_actors[loop.index-1][0]) }}
  {{ actorform.actor_name.label }} {{ actorform.actor_name(value=details_actors[loop.index-1][1]) }}
  {{ actorform.character.label }} {{ actorform.character(value=details_actors[loop.index-1][2]) }}




  {% endfor %}

  <p>New Actor</p>
  {{ form.new_name.label}} {{ form.new_name(size=20) }}
  {{ form.new_character.label }} {{ form.new_character(size=20) }}

  <input type="submit" value="Update Movie">
</form>

<a href="{{ url_for('movies.library') }}">Library</a>

{% endblock %}