{% extends 'base.html' %}

{% block content %}
<h2>Edit View</h2>

<form method="post" action = "{{ url_for('movies.edit_view',id = details[0]) }}" enctype = "multipart/form-data">
  
    <label for="movie_title">Movie Title</label>
    <input name="movie_title" id="movie_title" value="{{details[1]}}" required>
    <label for="year">Year</label>
    <input type="year" name="year" id="year" value="{{details[2]}}">
    <label for="director">Director</label>
    <input type="director" name="director" id="director" value="{{details[3]}}">
    {% for actor in actor_details %}
      <p>Actor{{actor.id}}</p>
      <label for='name'>Name</label>
      <input id= "name{{actor.id}}", type = text, value = "{{actor.name}}">
      <label for='character'>Character</label>
      <input id= "character{{actor.id}}", type = text, value = "{{actor.character}}">
      

    {% endfor %}
    <br>
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile" accept=".mp4,.mkv, .mov" required><br><br>
    <input type="submit" value="Update Movie">
  </form> 

<a href="{{ url_for('movies.library') }}">Library</a>

{% endblock %}