{% extends 'base.html' %}

{% block content %}
<h2>Edit View</h2>

<form method="post" action="{{ url_for('movies.edit_view',id = details_movies[0], actors = details_actors) }}">

  {{ movie_form.hidden_tag() }}
  {{ movie_form.movie_title.label }} {{ movie_form.movie_title(size=20, value=details_movies[1]) }}
  {{ movie_form.year.label }} {{ movie_form.year(size=20, value=details_movies[2]) }}
  {{ movie_form.director.label }} {{ movie_form.director(size=20, value=details_movies[3]) }}


  {% for actorform in movie_form.actorsfields.entries %}
  <p>Actor {{details_actors[loop.index-1][0]}}</p>
  {{ actorform.actor_id(value=details_actors[loop.index-1][0]) }}
  {{ actorform.actor_name.label }} {{ actorform.actor_name(value=details_actors[loop.index-1][1]) }}
  {{ actorform.character.label }} {{ actorform.character(value=details_actors[loop.index-1][2]) }}




  {% endfor %}

  <p>New Actor</p>
  {{ actor_form.new_name.label}} {{ actor_form.new_name(size=20) }}
  {{ actor_form.new_character.label }} {{ actor_form.new_character(size=20) }}

  <input type="submit" value="Update Movie">
</form>

<a href="{{ url_for('movies.library') }}">Library</a>

{% endblock %}