{% extends 'base.html' %}

{% block content %}

<h2>Media list</h2>
<a href="{{ url_for('movies.add_movie') }}">Add Movie</a>
<table>

    <tr>
        <th> Id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Actor</th>
    </tr>
    {% for row in media %}    
        <tr>
            <td> {{ row[0] }}</td>
            <td> {{ row[1] }}</td>
            <td> {{ row[2] }}</td>
            <td> {{ row[3] }}</td>
            <td> {{ row[4] }}</td>
            <td> <a href="{{ url_for('movies.details_view', id = row[0]) }}">Details View</a></td>
        </tr>

    {% endfor %}
</table>

{% endblock %} 