{% extends 'base.html' %} {% block content %}
<div class="container">
  {% for f_media in featured_media %}
  <div class="row">
    <div class="col col-xl-12">
      <video class="featured" height="405px" width="720px" controls>
        <source src="{{ f_media[1] }}" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
      <div class="card border-primary" style="max-width: 20rem">
        <div class="card-header">{{f_media[0]}}</div>
        <div class="card-body">
          <p class="card-text">Filmed at {{f_media[2]}}</p>
          <p class="card-text">{{f_media[3]}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% for media in details_media %}
  <div class="row">
    <div class="col col-xl-6">
      <video height="250px" width="450px" controls>
        <source src="{{ media[1] }}" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <div class="col col-xl-6 description">
      <div class="card border-secondary" style="max-width: 30rem">
        <div class="card-header">{{media[0]}}</div>
        <div class="card-body">
          <p class="card-text">Filmed at {{media[2]}}</p>
          <p class="card-text">{{media[3]}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
