body {
  background-color: #eff5f5;
}

video {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  padding: 50px;
}

.card {
  margin: 0 auto;
}

.col-xl-12 {
  padding-top: 35px;
}
.col-xl-6 {
  padding-top: 25px;
}
