{% extends 'base.html' %} {% block header %}
<h1 class="text-center">{% block title %}Log In{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post" class="text-center">
  <div class="form-outline mb-4 col-3 mx-auto">
    <input class="form-control" name="username" id="username" placeholder="Username" required />
  </div>
  <div class="form-outline mb-4 col-3 mx-auto">
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>
  <input type="submit" class="btn btn-primary" value="Log In" />
</form>
{% endblock %}
